# Census "hard to count" analysis

In [1]:
import pandas as pd
import geopandas as gpd

In [19]:
df = pd.read_excel("./data/htc/tracts.xlsx", dtype={"GEOID": str})

In [20]:
df.head()

         GEOID  CA HTC Index
0  06001400100            20
1  06001400200            16
2  06001400300            31
3  06001400400            35
4  06001400500            47

In [21]:
df_trimmed = df.rename(columns={
    "GEOID": "geoid",
    "CA HTC Index": "htc_index"
})

In [22]:
df_trimmed.head()

         geoid  htc_index
0  06001400100         20
1  06001400200         16
2  06001400300         31
3  06001400400         35
4  06001400500         47

In [23]:
gdf = gpd.read_file("data/tracts/tl_2010_06_tract10.shp")

In [24]:
gdf_trimmed = gdf[[
    'GEOID10',
    'geometry'
]].rename(columns={
    "GEOID10": "geoid",
})

In [25]:
gdf_trimmed.head()

         geoid                                           geometry
0  06083002103  POLYGON ((-120.417938 34.938341, -120.417658 3...
1  06083002402  POLYGON ((-120.473893 34.920814, -120.474285 3...
2  06083002102  POLYGON ((-120.417658 34.938345, -120.417938 3...
3  06083002010  POLYGON ((-120.411468 34.879619, -120.411413 3...
4  06083002009  POLYGON ((-120.423524 34.879283, -120.422856 3...

In [26]:
merged_gdf = gdf_trimmed.merge(df_trimmed, on="geoid", how="inner")

In [27]:
len(merged_gdf), len(gdf), len(df)

(8056, 8057, 8057)

In [30]:
merged_gdf.to_file("data/processed/tracts.shp")

In [37]:
merged_gdf['county_fips'] = merged_gdf.geoid.str.slice(2, 5)

In [38]:
merged_gdf.head()

,geoid,geometry,htc_index,county_fips
0,06083002103,"POLYGON ((-120.417938 34.938341, -120.417658 3...",73,083
1,06083002402,"POLYGON ((-120.473893 34.920814, -120.474285 3...",63,083
2,06083002102,"POLYGON ((-120.417658 34.938345, -120.417938 3...",30,083
3,06083002010,"POLYGON ((-120.411468 34.879619, -120.411413 3...",3,083
4,06083002009,"POLYGON ((-120.423524 34.879283, -120.422856 3...",16,083

In [40]:
top_100 = merged_gdf.sort_values("htc_index", ascending=False).head(100)

In [41]:
top_100.county_fips.value_counts()

037    57
077     7
075     5
019     5
071     5
073     4
029     3
025     3
067     3
053     2
001     2
059     1
099     1
047     1
095     1
Name: county_fips, dtype: int64